In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [3]:
df = pd.read_csv('/workspaces/my_data-engineering-zoomcamp/week_1_basics_n_setup/2_docker_sql/Data/yellow_tripdata_2021-07.csv.gz', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
df_iter = pd.read_csv('/workspaces/my_data-engineering-zoomcamp/week_1_basics_n_setup/2_docker_sql/Data/yellow_tripdata_2021-07.csv.gz', iterator=True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
len(df)

100000

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.80,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.90,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.80,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.40,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.00,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-07-02 08:48:33,2021-07-02 09:04:45,0,5.10,1,N,141,4,1,16.5,3.0,0.5,5.00,0.0,0.3,25.30,2.5
99996,1,2021-07-02 08:33:48,2021-07-02 08:39:06,1,1.10,1,N,107,170,1,6.0,2.5,0.5,7.00,0.0,0.3,16.30,2.5
99997,1,2021-07-02 08:41:40,2021-07-02 08:48:48,1,1.40,1,N,170,141,2,7.0,2.5,0.5,0.00,0.0,0.3,10.30,2.5
99998,1,2021-07-02 08:53:00,2021-07-02 09:01:30,1,1.50,1,N,229,263,1,8.0,2.5,0.5,2.00,0.0,0.3,13.30,2.5
99999,2,2021-07-02 08:21:00,2021-07-02 08:25:00,1,0.74,1,N,237,262,1,5.0,0.0,0.5,1.66,0.0,0.3,9.96,2.5

In [14]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [15]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.25 s, sys: 109 ms, total: 4.36 s
Wall time: 7.89 s

1000

In [16]:
from time import time

In [17]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 7.979 second
inserted another chunk, took 7.858 second
inserted another chunk, took 7.977 second
inserted another chunk, took 7.764 second
inserted another chunk, took 7.792 second
inserted another chunk, took 7.834 second
inserted another chunk, took 7.813 second
inserted another chunk, took 7.914 second
inserted another chunk, took 7.873 second
inserted another chunk, took 7.665 second
inserted another chunk, took 7.788 second
inserted another chunk, took 7.777 second
inserted another chunk, took 7.674 second
inserted another chunk, took 7.804 second
inserted another chunk, took 7.792 second
inserted another chunk, took 7.711 second
inserted another chunk, took 7.851 second
inserted another chunk, took 7.836 second
inserted another chunk, took 7.718 second
inserted another chunk, took 7.841 second
inserted another chunk, took 7.870 second
inserted another chunk, took 7.759 second
inserted another chunk, took 7.989 second
inserted another chunk, took 8.010 second
inserted another chunk, took 7.668 second

/tmp/ipykernel_23559/2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 7.911 second
inserted another chunk, took 6.931 second
inserted another chunk, took 1.660 second

StopIteration:

In [18]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-03-20 10:25:57--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.42.232, 52.216.36.128, 54.231.234.200, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.42.232|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.03s

2023-03-20 10:25:58 (366 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [19]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [20]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [21]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265